html, body, h1, h2, h3, p, ol, ul, li, a {
padding: 0;
border: 0;
margin: 0;
font-family: Palatino,"Palatino Linotype","Palatino LT STD","Book Antiqua",Georgia,serif; 
}

header {
	width: 60.000em;
	margin: 0 auto;
	padding: 3.125em 0 3.125em;
}

h1 {
	text-align: center;
	font-size: 3.125em; /*50*/
}

li.border { 
	list-style-type:none;
	display: inline-block;
	padding-left: 0.5em; 
	padding-right: 0.5em; 
	}

.border {
	border-left: 0.063em solid;
}

.border:first-child {
	border: none;
}

.navigationtab {
	text-align: right;
	padding-top: 1.250em;	
}

body {
	width: 60.000em;
	margin: 0 auto;
	padding: 3.125em 0 3.125em;
}

h2 {
	display: inline-block;
	text-align: center;
	background: rgba(235, 235, 235, 0.7);
	width: 100%; 
	margin-top: 12.500em;
	padding: 0.5em 0 0.5em;
	color: black;
	font-size: 2em; 
}

li.tab { 
	list-style-type:none;
	display: inline-block;
	/*padding-left: 0.5em; 
	padding-right: 0.5em;*/ 
	}

img {
	display: inline-block;
	margin: 0 auto;
}

.firstmenu {
	text-align: center;
	padding: 1.250em 0 1.250em;
	height: 35.750em; /*476px*/ 
	/*position: relative;*/
}

.firstmenu ul {
	height: 100%;
}

.tab {
	height: 100%; 
	width: 19.0em;
	margin: 0;
	/*background: orange;*/
	background-image: url('../_img/hosp_s_marcos.jpg');
	background-position: center;
	/*background-size: cover;*/
}

.tab:first-child {
	float:left;
	background-position: left;
}

.tab:last-child {
	float:right;
	background-position: right;
}

.secondmenu {
	text-align: center;
	height: 12.500em; /*200*/
	background-color: blue;
	/*position: absolute;*/
}

h3 {
	display: inline-block;
	text-align: center;
	margin: 0;
	background: green;
}

.secondtab {
	text-align: center;
	color: green;
	padding: 2.250em;
	margin-top: 2.250em;
}

.tab4 {
	float: left;
	width: 9.750em;
	height: 2.250em;
	border-radius: 0.750em;
	margin-left: 10.000em;
	padding-bottom: 1.250em;
}

.tab5 {
	float: right;
	width: 9.750em;
	height: 2.250em;
	border-radius: 0.750em;
	margin-right: 10.000em;
	padding-bottom: 1.250em;
}

aside {
	padding-top: 1.250em;
}

footer {
	padding-top: 1.250em;
}

/*BOOTSTRAP*/
@font-face {
  font-family: 'Glyphicons Halflings';

  src: url('../bootstrap/fonts/glyphicons-halflings-regular.eot');
  src: url('../bootstrap/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../bootstrap/fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../bootstrap/fonts/glyphicons-halflings-regular.woff') format('woff'), url('../botstrap/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../bootstrap/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  font-size: 1.5em;
  padding-top: 0.1em;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.glyphicon-globe:before {
  content: "\e135";
}
.glyphicon-heart-empty:before {
  content: "\e143";
}
.glyphicon-book:before {
  content: "\e043";
}